[submodule "slides/scala-error-handling"]
	path = slides/scala-error-handling
	url = https://github.com/jmccance/scala-error-handling.git
[submodule "slides/intro-to-implicits"]
	path = slides/intro-to-implicits
	url = https://github.com/jmccance/intro-to-implicits.git
[submodule "slides/typed-fp-scala"]
	path = slides/typed-fp-scala
	url = https://github.com/jmccance/typed-fp-scala.git
[submodule "slides/implicits-case-2017-08"]
	path = slides/implicits-case-2017-08
	url = git@github.com:jmccance/implicits-case-2017-08.git
